<nav>
  <div class="nav-item"><a routerLink="/queue">Input</a></div>
  <div class="nav-item"><a routerLink="/display">Display</a></div>
</nav>

<form [formGroup]="queueForm">
  <label for="name">
    Name:
    <input type="text" formControlName="name" />
  </label>
  <label for="email">
    Email:
    <input type="email" formControlName="email" />
  </label>
  <label for="contactNumber">
    Contact Number:
    <input type="text" formControlName="contactNumber" />
  </label>
  <button type="submit" [disabled]="!queueForm.valid" (click)="postData()">
    Submit
  </button>
</form>

<p>{{ queueForm.value.name }}</p>
{{ queueForm.valid }}
