<p-toast key="successEvent" position="top-right"></p-toast>
<p-toast key="errorEvent" position="top-right"></p-toast>

<div class="page-container">
  <div class="heading">
    <img class="logos" src="../../assets/tms.png" alt="TMS Logo" />
    <h3 class="input-heading">Queue Form</h3>
    <img class="logos" src="../../assets/capitol.png" alt="QMS Logo" />
  </div>
  <div class="form-container" [formGroup]="queueForm">
    <div class="flex flex-column gap-1">
      <label for="nickname">Nickname</label>
      <input
        pInputText
        id="nickname"
        aria-describedby="nickname-help"
        formControlName="name"
        [class.ng-invalid]="submitAttempted && queueForm.value.name === ''"
      />
    </div>
    <div class="flex flex-column gap-1">
      <label for="email">Email (Optional)</label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        formControlName="email"
      />
    </div>
    <div class="flex flex-column gap-1">
      <label for="contactNumber">Phone Number (Optional)</label>
      <input
        pInputText
        id="contactNumber"
        aria-describedby="contactNumber-help"
        formControlName="contactNumber"
      />
    </div>
    <button pButton pRipple label="Submit" (click)="postData()"></button>
  </div>
</div>
