<div class="flex flex-column h-screen w-full">
  <div class="w-12 flex flex-row h-full mt-2">
    <div class="w-7 flex flex-column gap-2">
      <div
        class="flex flex-row w-12 gap-4 px-2 justify-content-center align-items-start"
      >
        <div class="flex flex-column w-12 gap-2">
          <div
            class="text-white bg-gray-900 py-2 px-2 flex flex-row justify-content-between align-items-center"
          >
            <p
              class="text-2xl m-0 flex flex-row justify-content-center align-items-center w-8"
            >
              Name
            </p>
            <p
              class="text-2xl m-0 flex flex-row justify-content-center align-items-center w-2"
            >
              Transaction
            </p>

            <p
              class="text-2xl m-0 flex flex-row justify-content-center align-items-center w-2"
            >
              Window
            </p>
          </div>
          <div class="parentAlert">
            @for (mydata of display; track mydata.queueId){
            @if(mydata.queueStatus !=="accommodated" && mydata.toDisplay !== 1){
            <div
              class="border-1 flex flex-row justify-content-between align-items-center px-2 h-5rem text-6xl font-bold"
              [class]="mydata.queueStatus + ' ' + mydata.name + mydata.queueId"
            >
              <div
                class="w-8 flex flex-row justify-content-center align-items-center"
              >
                {{ mydata.name.toUpperCase() }}
              </div>
              <div
                class="w-2 flex flex-row justify-content-center align-items-center"
              >
                @if(mydata.transactionType=="payment"){
                {{ "PAY" }}
                }@else if(mydata.transactionType=="inquiry"){
                {{ "INQ" }}
                }@else{
                {{ "CHK" }}
                }
              </div>

              <div class="w-2 flex flex-row text-left justify-content-center">
                {{ mydata.terminal }}
              </div>
            </div>
            } }
          </div>
        </div>
      </div>
    </div>
    <div class="w-5">
      <!-- Logo Header -->
      <div
        class="flex flex-row h-6rem justify-content-evenly align-items-center"
      >
        <img class="h-5rem w-5rem" src="../../assets/tms.png" alt="" />
        <div class="flex flex-column justify-content-center align-items-center">
          <h1 class="text-2xl m-0">Queuing Management System</h1>
          <p class="m-0">Treasury Management System</p>
        </div>
        <img class="h-5rem w-5rem" src="../../assets/capitol.png" alt="" />
      </div>
      <div class="flex w-full px-5 flex-column align-items-center">
        <video
          class="w-full"
          src="../../assets/sample_video.mp4"
          autoplay
          muted
          loop
        ></video>
        <div
          class="flex flex-row justify-content-center gap-4 align-items-center bg-gray-900 text-white w-full px-5 text-4xl font-bold"
        >
          <p>{{ month }}</p>
          <p>{{ day }},</p>
          <p>{{ year }}</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative w-12 overflow-hidden h-5rem bg-blue-500 flex flex-row justify-content-start align-items-center"
  >
    <div
      class="w-full scroll absolute h-full text-2xl text-white flex flex-row justify-content-start align-items-center"
      [style.animation-duration]="animation"
    >
      <p class="m-0 white-space-nowrap w-auto">{{ text }}</p>
    </div>
    <div
      class="bg-gray-900 flex flex-row absolute text-white h-full justify-content-center align-items-center text-4xl px-5 right-0"
    >
      <p class="m-0">
        {{ getHour }} <span class="blink">:</span> {{ getMins }} {{ amPm }}
      </p>
    </div>
  </div>
</div>
