<div class="container">
  <div class="header primary">
    <h1>QUEING SYSTEM TERMINAL</h1>
  </div>
  <table>
    <thead>
      <td>NAME</td>
      <td>REMARKS</td>
      <td>STATUS</td>
      <td class="divAction">
        <p>Create</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M21 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5v2H5v14h14v-5z"
          />
          <path fill="currentColor" d="M21 7h-4V3h-2v4h-4v2h4v4h2V9h4z" />
        </svg>
      </td>
    </thead>
    <tr>
      <td><input type="text" placeholder="Gin" id="" readonly /></td>
      <td><input type="text" placeholder="Cashier" id="" readonly /></td>
      <td class="status_td">
        <p class="status active">
          <select name="" id="">
            <option value="active">Active</option>
            <option value="active">Inactive</option>
          </select>
        </p>
      </td>
      <td>
        <div class="action">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M3 21V3h10.925l-2 2H5v14h14v-6.95l2-2V21zm18.025-9H12zM9 15v-4.25L19.625.125L23.8 4.4L13.25 15zM21.025 4.4l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"
            />
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Gin" id="" /></td>
      <td><input type="text" placeholder="Cashier" id="" /></td>
      <td class="status_td">
        <p class="status inactive">
          <select name="" id="">
            <option value="active">Active</option>
            <option value="active">Inactive</option>
          </select>
        </p>
      </td>
      <td>
        <div class="action">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 48 48"
          >
            <defs>
              <mask id="ipSCheckOne0">
                <g fill="none" stroke-linejoin="round" stroke-width="4">
                  <path
                    fill="#fff"
                    stroke="#fff"
                    d="M24 44a19.937 19.937 0 0 0 14.142-5.858A19.937 19.937 0 0 0 44 24a19.938 19.938 0 0 0-5.858-14.142A19.937 19.937 0 0 0 24 4A19.938 19.938 0 0 0 9.858 9.858A19.938 19.938 0 0 0 4 24a19.937 19.937 0 0 0 5.858 14.142A19.938 19.938 0 0 0 24 44Z"
                  />
                  <path
                    stroke="#000"
                    stroke-linecap="round"
                    d="m16 24l6 6l12-12"
                  />
                </g>
              </mask>
            </defs>
            <path fill="#3abf40" d="M0 0h48v48H0z" mask="url(#ipSCheckOne0)" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#bf3a3a"
              fill-rule="evenodd"
              d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M9.702 8.641a.75.75 0 0 0-1.061 1.06L10.939 12l-2.298 2.298a.75.75 0 0 0 1.06 1.06L12 13.062l2.298 2.298a.75.75 0 0 0 1.06-1.06L13.06 12l2.298-2.298a.75.75 0 1 0-1.06-1.06L12 10.938z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </td>
    </tr>
  </table>
</div>
