.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.primary {
  background-color: #303030;
}

.header {
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.status {
  padding: 1em;
  width: 50%;
  border-radius: 1em;
  color: white;
}
.status_td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status_td select {
  background-color: transparent;
  height: 2em;
  border: none;
}
.status_td select option {
  height: 2em;
  background-color: transparent;
}
.active {
  background: #3abf40;
}
.inactive {
  background-color: #bf3a3a;
}
.action svg {
  height: 2em;
  width: 2em;
  color: rgb(0, 0, 0);
}
.action {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}
table {
  width: 50%;
}
table tr {
  height: 2em;
  background: #f1f1f1;
  text-align: center;
}
table tr input {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

table tr input:focus,
table tr input::placeholder,
.status_td select {
  outline: none;
  color: black;
  font: bold;
}
table thead {
  width: 50%;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
}
.divAction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.confirm {
  display: flex;
  justify-content: center;
  align-content: center;
}
