<div class="main">
  <div class="container">
    <div class="left">
      <ul class="list">
        @for (customer of data; track customer.queueId){ @if
        (customer.queueStatus !="accommodated" && customer.toDisplay==0){
        <li [class]="customer.queueStatus">
          <p>
            {{ customer.name }}
          </p>
          <p>
            @if (customer.queueStatus!="waiting"){
            {{ customer.terminal }}
            }
          </p>
        </li>
        } } @if(!hasWaiting){
        <li class="waiting">
          <p>Empty Queue</p>
          <p></p>
        </li>
        }
      </ul>
    </div>
    <div class="right">
      <div class="logo">
        <img src="../../assets/tms.png" alt="tms-logo" />
        <div class="logo-name">
          <h1>Queuing Management System</h1>
          <p>Treasury Management System</p>
        </div>
        <img src="../../assets/capitol.png" alt="capitol-logo" />
      </div>
      <div class="video">
        <video [src]="videoUrl" id="video" autoplay muted loop></video>
      </div>
    </div>
  </div>
  <div class="parent-scroll">
    <div class="scroll" [style.animation-duration]="animation">
      <p>{{ text }}</p>
    </div>
    <div class="time">
      <p>{{ getHour }} <span class="blink">:</span> {{ getMins }} {{ amPm }}</p>
    </div>
  </div>
</div>
