@keyframes alert {
  0% {
    opacity: 0;
    background-color: brown;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-color: brown;
  }
}
@keyframes blinkTime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.alert {
  animation: alert 3s linear infinite;
}
.blink {
  animation: blinkTime 0.5s linear infinite;
  color: white;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll {
  animation: scroll-left 30s linear infinite;
}
