<div class="flex flex-column h-screen w-full">
  <div class="w-12 flex flex-row h-full">
    <div class="w-7 flex flex-column gap-2">
      <!-- Now Serving Title -->
      <div
        class="flex flex-row justify-content-center align-items-center border-1 bg-gray-900 text-white"
      >
        <p>Now Serving</p>
      </div>
      <!-- Column Header -->
      <div class="flex flex-row gap-2">
        <div class="w-4">
          <div
            class="w-full border-1 px-2 flex flex-row justify-content-center align-items-center h-2rem bg-gray-900 text-white"
          >
            PAYMENT
          </div>
          @if(ongoingPayment.length === 0){
          <span
            class="w-full border-1 flex flex-row px-2 justify-content-center align-items-center h-5rem text-6xl font-bold text-white"
          ></span>
          } @for (item of ongoingPayment; track item.queueId) {
          @if(item.toDisplay === 0) {
          <span
            [id]="item.queueId"
            class="w-full border-1 flex flex-row px-2 justify-content-center align-items-center h-5rem text-3xl font-bold text-white"
            [class]="item.priorityType"
            [class.alert]="alertName === item.name"
            [class.notAlert]="
              alertName !== item.name || alertQueueId !== item.queueId
            "
            >{{ item.name }} {{ item.terminal }}</span
          >} }
        </div>
        <div class="w-4">
          <div
            class="w-full border-1 flex flex-row px-2 justify-content-center align-items-center h-2rem bg-gray-900 text-white"
          >
            CHECK RELEASING
          </div>

          @if(ongoingCheckReleasing.length === 0){
          <span
            class="w-full border-1 flex flex-row px-2 justify-content-center align-items-center h-5rem text-6xl font-bold text-white"
          ></span>
          } @for (item of ongoingCheckReleasing; track item.queueId) { @if
          (item.toDisplay === 0) {
          <span
            [id]="item.queueId"
            class="w-full mb-1 flex flex-row px-2 justify-content-center align-items-center h-5rem text-3xl font-bold text-white"
            [class]="item.priorityType"
            [class.alert]="alertName === item.name"
            [class.notAlert]="
              alertName !== item.name || alertQueueId !== item.queueId
            "
            >{{ item.name }} {{ item.terminal }}</span
          >} }
        </div>
        <div class="w-4">
          <div
            class="w-full border-1 flex flex-row px-2 justify-content-center align-items-center h-2rem bg-gray-900 text-white"
          >
            INQUIRY
          </div>
          @if(ongoingInquiry.length === 0){
          <span
            class="w-full border-1 flex flex-row px-2 justify-content-center align-items-center h-5rem text-6xl font-bold text-white"
          ></span>
          } @for (item of ongoingInquiry; track item.queueId) { @if
          (item.toDisplay === 0) {
          <span
            [id]="item.queueId"
            class="w-full mb-1 flex flex-row px-2 justify-content-center align-items-center h-5rem text-3xl font-bold text-white"
            [class]="item.priorityType"
            [class.alert]="alertName === item.name"
            [class.notAlert]="
              alertName !== item.name || alertQueueId !== item.queueId
            "
            >{{ item.name }} {{ item.terminal }}</span
          >
          }}
        </div>
      </div>
      <!-- Waiting -->
      <div
        class="flex flex-row justify-content-center align-items-center border-1 bg-gray-900 text-white"
      >
        <p>Waiting</p>
      </div>
      <!-- All List -->
      <div
        class="parentAlert flex flex-row w-full justify-content-between gap-3 align-items-start"
      >
        <!-- Payment List -->
        <div class="flex flex-column w-4 gap-2">
          @for (payment of waitingPayment; track payment.queueId){
          @if(payment.transactionType=="payment" &&
          payment.queueStatus=="waiting" && payment.toDisplay === 0){
          <div
            class="border-1 flex flex-row px-5 justify-content-between align-items-center h-5rem text-6xl font-bold"
          >
            <p>{{ payment.name }}</p>
            <p>{{ payment.index }}</p>
          </div>
          } }
        </div>
        <!-- Check Releasing -->
        <div class="flex flex-column w-4 gap-2">
          @for (checkReleasing of waitingCheckReleasing; track
          checkReleasing.queueId){

          <div
            class="border-1 flex flex-row px-5 justify-content-between align-items-center h-5rem text-6xl font-bold"
          >
            <p>{{ checkReleasing.name }}</p>
            <p>{{ checkReleasing.index }}</p>
          </div>
          }
        </div>
        <!-- Inquiry -->
        <div class="flex flex-column w-4 gap-2">
          @for (inquiry of waitingInquiry; track inquiry.queueId){
          <div
            class="border-1 flex flex-row px-5 justify-content-between align-items-center h-5rem text-6xl font-bold"
          >
            <p>{{ inquiry.name }}</p>
            <p>{{ inquiry.index }}</p>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="w-5">
      <!-- Logo Header -->
      <div
        class="flex flex-row h-6rem justify-content-evenly align-items-center"
      >
        <img class="h-5rem w-5rem" src="../../assets/tms.png" alt="" />
        <div class="flex flex-column justify-content-center align-items-center">
          <h1 class="text-2xl m-0">Queuing Management System</h1>
          <p class="m-0">Treasury Management System</p>
        </div>
        <img class="h-5rem w-5rem" src="../../assets/capitol.png" alt="" />
      </div>
      <div class="flex w-full px-5 flex-column align-items-center">
        <div>
          <video
            class="w-full"
            src="../../assets/sample_video.mp4"
            #video
            (canplay)="video.play()"
            (loadedmetadata)="video.muted = true"
            (ended)="video.play()"
          ></video>
          <div
            class="flex flex-row justify-content-center gap-4 align-items-center bg-gray-900 text-white w-full px-5 py-2 text-4xl font-bold"
          >
            <p class="m-0">{{ month }}</p>
            <p class="m-0">{{ day }},</p>
            <p class="m-0">{{ year }}</p>
          </div>
          <div class="flex flex-row justify-content-evenly align-items-center">
            <div
              class="flex flex-row justify-content-center align-items-center gap-1"
            >
              <div class="border-1 h-2rem w-2rem"></div>
              <p class="text-xl font-bold">Waiting</p>
            </div>
            <div
              class="flex flex-row justify-content-center align-items-center gap-1"
            >
              <div class="normal-legend h-2rem w-2rem"></div>
              <p class="text-xl font-bold">Ongoing</p>
            </div>
            <div
              class="flex flex-row justify-content-center align-items-center gap-1"
            >
              <div class="priority-legend h-2rem w-2rem"></div>
              <p class="text-xl font-bold">Priority</p>
            </div>
          </div>
        </div>
        <div class="w-full py-2 flex flex-col justify-content-evenly">
          <div class="w-full text-3xl">
            @for (item of extraLeft; track item.queueId){
            <div
              class="flex flex-row justify-content-between px-2"
              [class]="item.queueStatus + ' ' + item.priorityType"
            >
              <p class="m-0 w-1">{{ item.name }}</p>
              <p class="m-0 w-1">
                @if(item.transactionType=="payment"){
                {{ "PAY" }}
                }@else if(item.transactionType=="inquiry"){
                {{ "INQ" }}
                }@else{
                {{ "CHK" }}
                }
              </p>
              <p class="m-0 w-1">{{ item.terminal }}</p>
            </div>
            }
          </div>
          <div class="w-full text-3xl">
            @for (item of extraRight; track item.queueId){
            <div
              class="flex flex-row justify-content-between px-2"
              [class]="item.queueStatus + ' ' + item.priorityType"
            >
              <p class="m-0 w-1">{{ item.name }}</p>
              <p class="m-0 w-1">
                @if(item.transactionType=="payment"){
                {{ "PAY" }}
                }@else if(item.transactionType=="inquiry"){
                {{ "INQ" }}
                }@else{
                {{ "CHK" }}
                }
              </p>
              <p class="m-0 w-1">{{ item.terminal }}</p>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative w-12 overflow-hidden h-5rem bg-blue-500 flex flex-row justify-content-start align-items-center"
  >
    <div
      class="w-full scroll absolute h-full text-2xl text-white flex flex-row justify-content-start align-items-center"
      [style.animation-duration]="animation"
    >
      <p class="m-0 white-space-nowrap w-auto">{{ text }}</p>
    </div>
    <div
      class="bg-gray-900 flex flex-row absolute text-white h-full justify-content-center align-items-center text-2xl px-5 right-0"
    >
      <p class="m-0">
        {{ getHour }} <span class="blink">:</span> {{ getMins }} {{ amPm }}
      </p>
    </div>
  </div>
</div>
